################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.pio
.venv-pio312
piotools
.vscode
.pioenvs
.cache
build_output
firmware.map
firmware.asm
*.map
*.elf

binaries/prepare_release.bat
